<!DOCTYPE html>
<html>
<head>
	<title>UpCloud</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
	<header>
		<div class="header">
			<div class="logo__block">
					<img class="logo__image" src="assets/images/cloud.svg">
					<h1 class="logo__text"><a class="home__link" href="/">UpCloud</a></h1>
			</div>
			<div class="sign__buttons">
				<input class="sign__button" type="button" value="sign in">
				<input class="sign__button" type="button" value="sign up">
			</div>
		</div>
	</header>

	<div class="container">
		<div class="sidebar__container">
			<div class="sidebar">
				<input class="upload__file" type="button" value="Upload">
				<div class="sidebar__item">
					<p>My UpCloud</p>
				</div>
				<div class="sidebar__item">
					<p>Viewed</p>
				</div>
			</div>
			<div class="sidebar__button">
				<img class="sidebar__arrow" src="assets/images/sidebar-arrow.svg">
			</div>		
		</div>
		<div class="uploads__table">
			
		</div>
	</div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
</html>